<div class="rooms-page" fxLayout="column">
  <div class="rooms-container"
       fxLayout="row" fxLayoutAlign="left start" fxLayoutGap="10px" fxFlex="1 1 100%">
    <nb-card *ngFor="let room of (rooms$ | async)">
      <nb-card-header fxLayout="row" fxLayoutAlign="space-between">
        <span>{{room.name}}</span> <span>{{room.users? room.users.length : 0}} </span>
      </nb-card-header>
      <nb-card-body>
        <a [routerLink]="[room.id]" >
          <img class="card-image" src="{{room.avatarUrl}}">
        </a>
      </nb-card-body>
      <nb-card-footer>
        <nb-actions size="small" fxLayout="row" fxLayoutAlign="end">
          <nb-action class="card-action" icon="edit-2-outline" nbTooltip="Edit room"></nb-action>
          <nb-action class="card-action" icon="trash-2-outline" nbTooltip="Delete room"></nb-action>
        </nb-actions>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="rooms-actions" fxLayout="row" fxLayoutAlign="end" fxFlex="0 1 50px">
    <button nbButton shape="semi-round" nbTooltip="Create a new room" size="large" status="primary"><nb-icon icon="plus-outline"></nb-icon></button>
  </div>
</div>

