.title{
  white-space: pre;
}

.card-header{
  padding-left: 5px;
}

.dialog-card {
  height: 480px;
  width: 400px;
}

.form-label {
  color: #202020;
  font-size: 1rem;
}

.avatar{
  width: 180px;
  height: 200px;
  border: 1px dashed black;
}
