<nb-card class="dialog-card">
  <nb-card-header class="card-header" fxLayout="row" fxLayoutAlign="start center">
    <nb-icon icon="plus-outline"></nb-icon>
    <span class="title"> Create New Room</span>
  </nb-card-header>
  <nb-card-body>
    <form fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
<!--      <mat-form-field>-->
<!--        <input matInput placeholder="name" name="name" [(ngModel)]="name">-->
<!--      </mat-form-field>-->
      <div class="form-field" fxLayout fxLayoutAlign="stretch center" fxLayoutGap="20px">
        <label class="form-label" for="name">Name:</label>
        <input id="name" fxFlex="1 0" nbInput placeholder="name" name="name" [(ngModel)]="name">
      </div>
      <div class="form-field" fxLayout fxLayoutAlign="stretch center" fxLayoutGap="20px">
        <label class="form-label" for="avatar">Avatar:</label>
        <input id="avatar" type="file" (change)="onAvatarChanged($event)">
      </div>
      <div class="avatar-preview" fxLayout fxLayoutAlign="left start">
        <img class="avatar" [src]="avatarUrl">
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="dialog-actions" fxLayout fxLayoutAlign="end center" fxLayoutGap="10px">
      <button nbButton (click)="create()">Create</button>
      <button nbButton (click)="cancel()" appearance="outline">Cancel</button>
    </div>
  </nb-card-footer>
</nb-card>
