<div class="room-container" fxLayout fxLayoutAlign="stretch center" fxLayoutGap="15px">
  <img class="room-avatar" [src]="room.avatarUrl" fxFlex="0 0 140px">
  <h5 fxFlex="0 0 100px">{{room.name}}</h5>
  <div fxLayout fxLayoutAlign="end" fxFlex="1 0 auto">
    <button nbButton *ngIf="!isJoined(room.id)" (click)="changeJoin(true)"
            appearance="outline" status="success"
            fxFlex="0 0 130px">
      <nb-icon icon="log-in"></nb-icon>
      Join
    </button>
    <button nbButton *ngIf="isJoined(room.id)" (click)="changeJoin(false)"
            appearance="outline" status="danger"
            fxFlex="0 0 130px">
      Leave
      <nb-icon icon="log-out"></nb-icon>
    </button>
  </div>
</div>
