.layout-header {
  height: 150px;
  background-image: url('~src/assets/login_background.png');
  background-size: cover;
}

.login-layout-column {
  position: relative;
}

.login-card {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: calc(50% - 200px);
  width: 400px;
  height: 350px;
  overflow: hidden ;

  .login-header{
    margin-bottom: 20px;
    .login-header-divider {
      width: 80%;
      border-bottom: 1px solid lightgray;
    }
  }

  .login-content {
    width: 90%;
  }

  .login-actions {
    .login-btn {
      width: 230px;
    }
    .login-registration {
      p {
        font-size: .75em;
        color: gray;

        .registration-link {
          text-decoration: none;
          opacity: .9;
        }
      }
    }
  }

}
