.header-container {

  .sidebar-toggle {
    text-decoration: none;
    color: nb-theme(text-hint-color);
    nb-icon {
      font-size: 1.75em;
    }
  }
}

nb-action {
  height: auto;
  display: flex;
  align-content: center;
}

