<div class="header" fxLayout="row" fxLayoutAlign="space-between">
  <div class="header-container">
    <div class="logo-container">
      <a href="#" (click)="toggleSidebar()" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
    </div>
  </div>

  <div class="header-container" fxLayout="row" fxLayoutAlign="center center">
    <nb-actions size="small">

      <nb-action class="control-item">
        <nb-search type="rotate-layout"></nb-search>
      </nb-action>
      <nb-action class="control-item" icon="email-outline"></nb-action>
      <nb-action class="control-item" icon="bell-outline"></nb-action>
      <nb-action class="user-action" >
        <nb-user [nbContextMenu]="userMenu"
                 [onlyPicture]="userPictureOnly"
                 [name]="user?.username"
                 [picture]="user?.avatarUrl">
        </nb-user>
      </nb-action>
    </nb-actions>
  </div>
</div>

