<div class="chat-room" fxLayout="row" fxLayoutAlign="start stretch">
  <nb-chat title="{{room?.name}}" fxFlex="0 1 500px">
    <nb-chat-message *ngFor="let msg of messages"
                     type="text"
                     [reply]="msg.reply"
                     [message]="msg.text"
                     [sender]="msg.user.name"
                     [date]="msg.date"
                     [avatar]="msg.user.avatar">
    </nb-chat-message>

    <nb-chat-form (send)="sendMessage($event)">
    </nb-chat-form>
  </nb-chat>
</div>


