<nb-layout>
  <nb-layout-header class="layout-header" fxLayout="" fxLayoutAlign="center center">
    <h1 *ngIf="error">Something wrong happend!, {{error}}</h1>
  </nb-layout-header>
  <nb-layout-column class="login-layout-column">
    <mat-card class="login-card" fxLayout="column" fxLayoutAlign="center center"
              @slideInOut
              *ngIf="isLoginScreen">
      <mat-card-header class="login-header" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title class="login-title">Log into PChat</mat-card-title>
      </mat-card-header>
      <mat-card-content class="login-content" fxFlex="130px">
        <form fxLayout="column" fxLayoutAlign="center fill">
          <mat-form-field>
            <input matInput placeholder="Username" name="username" [(ngModel)]="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password" [(ngModel)]="password" >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions class="login-actions"
                        fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button class="login-btn" mat-raised-button color="primary" (click)="loginUser()">Login</button>
        <div class="login-registration" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-15px">
          <p>Not yet have an account?</p>
          <p>click <a class="registration-link" href="#" (click)="changePage(false)">here</a> to register.</p>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="login-card" fxLayout="column" fxLayoutAlign="center center"
              @slideInOut
              *ngIf="!isLoginScreen">
      <mat-card-header class="login-header" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title class="login-title">Register into PChat</mat-card-title>
      </mat-card-header>
      <mat-card-content class="login-content" fxFlex="130px">
        <form fxLayout="column" fxLayoutAlign="center fill">
          <mat-form-field>
            <input matInput placeholder="Username" name="username" [ngModel]="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" name="password" [ngModel]="password" >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <input type="file" (change)="onFileChange($event)">
        </form>
      </mat-card-content>
      <mat-card-actions class="login-actions"
                        fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button class="login-btn" mat-raised-button color="primary" (click)="registerUser()">Register</button>
        <div class="login-registration" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-15px">
          <p>Already have an account?</p>
          <p>click <a class="registration-link" href="#" (click)="changePage(true)">here</a> to login.</p>
        </div>
      </mat-card-actions>
    </mat-card>
  </nb-layout-column>
</nb-layout>

